body {
  background-color: #fffff8;
  color: #171d30;
}

.generated-by {
  color: #505561;
}

a {
  color: #00c266;
}

a:hover {
  text-decoration: underline;
}

nav a, .logo a, .post-title a, .social a, .rightcolumn a, dt a {
  color: #171d30;
}

nav a:hover, .logo a:hover, .post-title a:hover, .social a:hover, .rightcolumn a:hover, dt a:hover {
  color: #00c266;
  text-decoration: none;
}

th {
  color: #171d30;
  border-bottom: 0.1rem solid #60646b;
}

.codeblock {
  background-color: #fdf6e3;
}

.post-meta {
  color: #505561;
}

h1:hover > .heading-anchor1, h2:hover > .heading-anchor2, h3:hover > .heading-anchor3, h4:hover > .heading-anchor4, h5:hover > .heading-anchor5, h6:hover > .heading-anchor6 { color: #00c266; }

//.heading-anchor1, .heading-anchor2, .heading-anchor3, .heading-anchor4, .heading-anchor5, .heading-anchor6 { color: #fffff8; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #171d30;
    color: #fffff8;
  }

  nav a, .logo a, .post-title a, .social a, .rightcolumn a, dt a {
    color: #fffff8;
  }

  .generated-by {
    color: #fffff8;
  }

  th {
    color: #fffff8;
    border-bottom: 0.1rem solid #fffff8;
  }

  .codeblock {
    background-color: #1f2538;
  }

  .post-meta {
    color: #fffff8;
  }

//  .heading-anchor1, .heading-anchor2, .heading-anchor3, .heading-anchor4, .heading-anchor5, .heading-anchor6 { color: #171d30; }
}
