@font-face {
	font-family: 'Iosevka Web';
	font-weight: 100;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-thin.woff2') format('woff2'), url('/fonts/woff/iosevka-thin.woff') format('woff'), url('/fonts/ttf/iosevka-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 100;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-thinitalic.woff2') format('woff2'), url('/fonts/woff/iosevka-thinitalic.woff') format('woff'), url('/fonts/ttf/iosevka-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 100;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-thinoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-thinoblique.woff') format('woff'), url('/fonts/ttf/iosevka-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 200;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extralight.woff2') format('woff2'), url('/fonts/woff/iosevka-extralight.woff') format('woff'), url('/fonts/ttf/iosevka-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 200;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extralightitalic.woff2') format('woff2'), url('/fonts/woff/iosevka-extralightitalic.woff') format('woff'), url('/fonts/ttf/iosevka-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 200;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extralightoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-extralightoblique.woff') format('woff'), url('/fonts/ttf/iosevka-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 300;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-light.woff2') format('woff2'), url('/fonts/woff/iosevka-light.woff') format('woff'), url('/fonts/ttf/iosevka-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 300;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-lightitalic.woff2') format('woff2'), url('/fonts/woff/iosevka-lightitalic.woff') format('woff'), url('/fonts/ttf/iosevka-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 300;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-lightoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-lightoblique.woff') format('woff'), url('/fonts/ttf/iosevka-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-regular.woff2') format('woff2'), url('/fonts/woff/iosevka-regular.woff') format('woff'), url('/fonts/ttf/iosevka-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-italic.woff2') format('woff2'), url('/fonts/woff/iosevka-italic.woff') format('woff'), url('/fonts/ttf/iosevka-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-oblique.woff2') format('woff2'), url('/fonts/woff/iosevka-oblique.woff') format('woff'), url('/fonts/ttf/iosevka-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 500;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-medium.woff2') format('woff2'), url('/fonts/woff/iosevka-medium.woff') format('woff'), url('/fonts/ttf/iosevka-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 500;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-mediumitalic.woff2') format('woff2'), url('/fonts/woff/iosevka-mediumitalic.woff') format('woff'), url('/fonts/ttf/iosevka-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 500;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-mediumoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-mediumoblique.woff') format('woff'), url('/fonts/ttf/iosevka-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 600;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-semibold.woff2') format('woff2'), url('/fonts/woff/iosevka-semibold.woff') format('woff'), url('/fonts/ttf/iosevka-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 600;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-semibolditalic.woff2') format('woff2'), url('/fonts/woff/iosevka-semibolditalic.woff') format('woff'), url('/fonts/ttf/iosevka-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 600;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-semiboldoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-semiboldoblique.woff') format('woff'), url('/fonts/ttf/iosevka-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-bold.woff2') format('woff2'), url('/fonts/woff/iosevka-bold.woff') format('woff'), url('/fonts/ttf/iosevka-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-bolditalic.woff2') format('woff2'), url('/fonts/woff/iosevka-bolditalic.woff') format('woff'), url('/fonts/ttf/iosevka-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-boldoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-boldoblique.woff') format('woff'), url('/fonts/ttf/iosevka-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 800;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extrabold.woff2') format('woff2'), url('/fonts/woff/iosevka-extrabold.woff') format('woff'), url('/fonts/ttf/iosevka-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 800;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extrabolditalic.woff2') format('woff2'), url('/fonts/woff/iosevka-extrabolditalic.woff') format('woff'), url('/fonts/ttf/iosevka-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 800;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-extraboldoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-extraboldoblique.woff') format('woff'), url('/fonts/ttf/iosevka-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 900;
	font-style: normal;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-heavy.woff2') format('woff2'), url('/fonts/woff/iosevka-heavy.woff') format('woff'), url('/fonts/ttf/iosevka-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 900;
	font-style: italic;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-heavyitalic.woff2') format('woff2'), url('/fonts/woff/iosevka-heavyitalic.woff') format('woff'), url('/fonts/ttf/iosevka-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 900;
	font-style: oblique;
    font-display: swap;
	src: url('/fonts/woff2/iosevka-heavyoblique.woff2') format('woff2'), url('/fonts/woff/iosevka-heavyoblique.woff') format('woff'), url('/fonts/ttf/iosevka-heavyoblique.ttf') format('truetype');
}
