{{ define "main" }}
<main>
  <div class="container">
    <div class="center flex">
      <h1>{{ .Title }}</h1>
      <section class="post-meta">Posted on {{ .Date.Format "January 2, 2006" }}</section>
      <article>
        {{ .Content }}
      </article>
    </div>
    <aside class="right flex">
      <b id="TableOfContentsTitle">Table of Contents</b>
      {{ .TableOfContents }}
    </aside>
  </div>
</main>
{{ end }}
