<div class="post-display">
  <div class="post-meta">
    {{ .Date.Format "Mon, Jan 2, 2006" }} | {{ .FuzzyWordCount  }} Words
  </div>
  <div class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
  <div class="post-description">
    {{ .Summary }}
  </div>
</div>
