{{ define "main" }}
<main>
  <div class="container">
    <div class="left flex">
    </div>
    <div class="center flex">
      <article class="content">
        <h1>{{ .Title }}</h1>

        {{ .Content }}

        {{ range .RegularPages }}
          {{ .Render "summary"}}
        {{ end }}
      </article>
    </div>
    <div class="right flex">
    </div>
  </div>
</main>
{{ end }}
