{{ define "main" }}
<main>
  <div class="container">
    <div class="left flex">
    </div>
    <div class="center flex">
      <article class="content">
        {{ .Content }}
      </article>
    </div>
    <div class="right flex">
    </div>
  </div>
</main>
{{ end }}
