{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul >
      {{ range .Data.Terms.Alphabetical }}
        <li>
          <h2>
            <a href="{{ .Page.RelPermalink }}">
              {{ printf "(%d) %s" .Count .Page.Title }}
            </a>
          </h2>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
