<footer>
  <p class="social">
    <a href="https://github.com/ymherklotz"><i class="fab fa-github"></i></a>
    <a href="https://gitlab.com/ymherklotz"><i class="fab fa-gitlab"></i></a>
    <a href="https://linkedin.com/in/yannherklotz"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com/@ymherklotz"><i class="fab
                                                        fa-twitter"></i></a>
    <a href="mailto:yann@yannherklotz.com"><i class="fas
                                                     fa-envelope"></i></a>
    <a href="/atom.xml"><i class="fas fa-rss"></i></a>
  </p>
  <div class="generated-by">
    &#169; 2019-2021 Yann Herklotz
  </div>
</footer>
{{ if .Site.Params.katex }}
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"
        integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
        crossorigin="anonymous"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js"
        integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe"
        crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
{{ end }}
