<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="icon" href="/favicon.ico" >
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap"
          rel="stylesheet">
  {{ if .Site.Params.katex }}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
        integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
        crossorigin="anonymous">
  {{ end }}
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax_dark.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/colours.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/default.css" />

  <link rel="preload" href="{{ .Site.BaseURL }}/fonts/woff2/iosevka-extrabold.woff2">

  {{ if not (in (.Site.BaseURL | string) "localhost") }}
  {{ if .Site.Params.offen }}
  <script async src="https://offen.ymhg.org/script.js" data-account-id="5255f2c5-6a61-4e35-81cd-50505bf5833e"></script>
  {{ end }}
  {{ end }}
</head>
