<header>
  <div class="logo">
    <a href="{{ .Site.BaseURL }}">Yann Herklotz</a>
  </div>
  <nav id="navbar">
    <span><a href="{{ .Site.BaseURL }}/blog/">Blog</a></span>
    <span><a href="{{ .Site.BaseURL }}/photos/">Photos</a></span>
  </nav>
</header>
