<table class="news">
  <tbody>
    {{ range $.Site.Data.news }}
    {{ range . }}
    <tr><td class="news-date">{{ .date.Format "2006-01-02" }}</td><td>{{ safeHTML .event }}</td></tr>
    {{ end }}
    {{ end }}
  </tbody>
</table>
