{{ define "main" }}
<main>
  <div class="container">
    <div class="center flex">
      <article class="content">

        {{ .Content }}

        <h2>Publications</h2>

        {{ partial "papers.html" . }}

        <h2>Other Papers and Posters</h2>

        {{ partial "papers_other.html" . }}

        <h2>Blog</h2>

        {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
          {{ .Render "summary"}}
        {{ end }}

        <h2>News</h2>

        {{ partial "news.html" . }}

      </article>
    </div>
    <div class="right flex">
      {{ partial "tagcloud.html" . }}
    </div>
  </div>
</main>
{{ end }}
